<div _ngcontent-serverapp-c73="" class="footer-newsletter">
    <h5 _ngcontent-serverapp-c73="" class="footer-newsletter__title">Newsletter</h5>
    <div _ngcontent-serverapp-c73="" class="footer-newsletter__text"> Test Description </div>
    <form _ngcontent-serverapp-c73="" action="" class="footer-newsletter__form"><label _ngcontent-serverapp-c73=""
            for="footer-newsletter-address" class="sr-only">Email Address</label><input _ngcontent-serverapp-c73=""
            type="text" id="footer-newsletter-address" placeholder="Email Address..."
            class="footer-newsletter__form-input form-control"><button _ngcontent-serverapp-c73=""
            class="footer-newsletter__form-button btn btn-primary">Subscribe</button></form>
    <div _ngcontent-serverapp-c73="" class="footer-newsletter__text footer-newsletter__text--social"> Follow us on
        social networks </div>
    <div _ngcontent-serverapp-c73="" shape="circle"
        class="footer-newsletter__social-links social-links social-links--shape--circle">        
        <ul  class="social-links__list">
            <li  class="social-links__item ng-star-inserted"><a 
                    target="_blank" class="social-links__link social-links__link--type--facebook"
                    href="https://themeforest.net/user"><i 
                        class="fa fa-facebook-f"></i></a></li>
            <li  class="social-links__item ng-star-inserted"><a 
                    target="_blank" class="social-links__link social-links__link--type--twitter"
                    href="https://themeforest.net/user"><i 
                        class="fa fa-twitter"></i></a></li>
            <li  class="social-links__item ng-star-inserted"><a 
                    target="_blank" class="social-links__link social-links__link--type--youtube"
                    href="https://themeforest.net/user"><i 
                        class="fa fa-youtube"></i></a></li>
            <li  class="social-links__item ng-star-inserted"><a 
                    target="_blank" class="social-links__link social-links__link--type--instagram"
                    href="https://themeforest.net/user"><i 
                        class="fa fa-instagram"></i></a></li>
            <li  class="social-links__item ng-star-inserted"><a 
                    target="_blank" class="social-links__link social-links__link--type--rss"
                    href="https://themeforest.net/user"><i  class="fa fa-rss"></i></a>
            </li>
            <!---->
        </ul>
    </div>
</div>