<!-- <nav class="navbar navbar-expand-md navbar-light bg-light menubar">
    <div class="container nav-panel__nav-links nav-links">
        <ul class="nav-links__list">
            <li class="nav-links__item ng-star-inserted">
                <a class="nav-links__item-link ng-star-inserted" routerLink="" target="_self">
                    <div class="nav-links__item-body ng-star-inserted">Home</div>
                </a>
            </li>
            <li class="nav-links__item ng-star-inserted">
                <a class="nav-links__item-link ng-star-inserted" routerLink="products/all-products" target="_self">
                    <div class="nav-links__item-body ng-star-inserted">Products</div>
                </a>
            </li>
            <li class="nav-links__item ng-star-inserted">
                <a class="nav-links__item-link ng-star-inserted" target="_self">
                    <div class="nav-links__item-body ng-star-inserted">Blog</div>
                </a>
            </li>
            <li class="nav-links__item ng-star-inserted">
                <a class="nav-links__item-link ng-star-inserted" target="_self">
                    <div class="nav-links__item-body ng-star-inserted">Pages</div>
                </a>
            </li>
        </ul>
        <div class="topbar__spring"></div>
        <div class="nav-panel__indicators">
            <a class="indicator__button ng-star-inserted">
                <span class="indicator__area ng-star-inserted">
                    <app-icon size="20" class="ng-star-inserted"><svg width="20px" height="20px">
                            <use xlink:href="assets/img/sprite.svg#heart-20"></use>
                        </svg></app-icon>
                    <span  class="indicator__value ng-star-inserted">0</span>
                </span>
            </a>
        </div>
        <div class="nav-panel__indicators">
            <a class="indicator__button ng-star-inserted">
                <span class="indicator__area ng-star-inserted">
                    <app-icon size="20" class="ng-star-inserted"><svg width="20px" height="20px">
                            <use xlink:href="assets/img/sprite.svg#cart-20"></use>
                        </svg></app-icon>
                    <span  class="indicator__value ng-star-inserted">0</span>
                </span>
            </a>
        </div>
        <div class="nav-panel__indicators">
            <a class="indicator__button ng-star-inserted">
                <span class="indicator__area ng-star-inserted">
                    <app-icon size="20" class="ng-star-inserted"><svg width="20px" height="20px">
                            <use xlink:href="assets/img/sprite.svg#person-20"></use>
                        </svg></app-icon>
                </span>
            </a>
        </div>
    </div>
    
</nav> -->

<div class="site-header__nav-panel">
  <div class="nav-panel">
    <div class="nav-panel__container container">
      <div class="nav-panel__row">
        <!-- .nav-links -->
        <div class="nav-panel__nav-links nav-links">
          <ul class="nav-links__list">
            <li class="nav-links__item nav-links__item--with-submenu">
              <a href="index.html">
                <span
                  >Home
                  <svg class="nav-links__arrow" width="9px" height="6px">
                    <use
                      xlink:href="assets/img/sprite.svg#arrow-rounded-down-9x6"
                    />
                  </svg>
                </span>
              </a>
              <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                  <li>
                    <a href="index.html">Home 1</a>
                  </li>
                  <li>
                    <a href="index.html">Home 2</a>
                  </li>
                </ul>
                <!-- .menu / end -->
              </div>
            </li>
            <li class="nav-links__item nav-links__item--with-submenu">
              <a routerLink="products/all-products">
                <span>Products</span>
              </a>
            </li>
            <li class="nav-links__item nav-links__item--with-submenu">
              <a href="#">
                <span
                  >Megamenu
                  <svg class="nav-links__arrow" width="9px" height="6px">
                    <use
                      xlink:href="assets/img/sprite.svg#arrow-rounded-down-9x6"
                    />
                  </svg>
                </span>
              </a>
              <div class="nav-links__megamenu nav-links__megamenu--size--nl">
                <!-- .megamenu -->
                <div class="megamenu">
                  <div class="row">
                    <div class="col-6">
                      <ul class="megamenu__links megamenu__links--level--0">
                        <li class="megamenu__item megamenu__item--with-submenu">
                          <a href="#">Power Tools</a>
                          <ul class="megamenu__links megamenu__links--level--1">
                            <li class="megamenu__item">
                              <a href="#">Engravers</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Wrenches</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Wall Chaser</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Pneumatic Tools</a>
                            </li>
                          </ul>
                        </li>
                        <li class="megamenu__item megamenu__item--with-submenu">
                          <a href="#">Machine Tools</a>
                          <ul class="megamenu__links megamenu__links--level--1">
                            <li class="megamenu__item">
                              <a href="#">Thread Cutting</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Chip Blowers</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Sharpening Machines</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Pipe Cutters</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Slotting machines</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Lathes</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-6">
                      <ul class="megamenu__links megamenu__links--level--0">
                        <li class="megamenu__item megamenu__item--with-submenu">
                          <a href="#">Hand Tools</a>
                          <ul class="megamenu__links megamenu__links--level--1">
                            <li class="megamenu__item">
                              <a href="#">Screwdrivers</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Handsaws</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Knives</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Axes</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Multitools</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Paint Tools</a>
                            </li>
                          </ul>
                        </li>
                        <li class="megamenu__item megamenu__item--with-submenu">
                          <a href="#">Garden Equipment</a>
                          <ul class="megamenu__links megamenu__links--level--1">
                            <li class="megamenu__item">
                              <a href="#">Motor Pumps</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Chainsaws</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Electric Saws</a>
                            </li>
                            <li class="megamenu__item">
                              <a href="#">Brush Cutters</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- .megamenu / end -->
              </div>
            </li>
            <li class="nav-links__item nav-links__item--with-submenu">
              <a href="shop-grid-3-columns-sidebar.html">
                <span
                  >Shop
                  <svg class="nav-links__arrow" width="9px" height="6px">
                    <use
                      xlink:href="assets/img/sprite.svg#arrow-rounded-down-9x6"
                    />
                  </svg>
                </span>
              </a>
              <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                  <li>
                    <a href="shop-grid-3-columns-sidebar.html"
                      >Shop Grid
                      <svg class="menu__arrow" width="6px" height="9px">
                        <use
                          xlink:href="assets/img/sprite.svg#arrow-rounded-right-6x9"
                        />
                      </svg>
                    </a>
                    <div class="menu__submenu">
                      <!-- .menu -->
                      <ul class="menu menu--layout--classic">
                        <li>
                          <a href="shop-grid-3-columns-sidebar.html"
                            >3 Columns Sidebar</a
                          >
                        </li>
                        <li>
                          <a href="shop-grid-4-columns-full.html"
                            >4 Columns Full</a
                          >
                        </li>
                        <li>
                          <a href="shop-grid-5-columns-full.html"
                            >5 Columns Full</a
                          >
                        </li>
                      </ul>
                      <!-- .menu / end -->
                    </div>
                  </li>
                  <li>
                    <a href="shop-list.html">Shop List</a>
                  </li>
                  <li>
                    <a href="shop-right-sidebar.html">Shop Right Sidebar</a>
                  </li>
                  <li>
                    <a href=""
                      >Product
                      <svg class="menu__arrow" width="6px" height="9px">
                        <use
                          xlink:href="assets/img/sprite.svg#arrow-rounded-right-6x9"
                        />
                      </svg>
                    </a>
                    <div class="menu__submenu">
                      <!-- .menu -->
                      <ul class="menu menu--layout--classic">
                        <li>
                          <a href="">Product</a>
                        </li>
                        <li>
                          <a href="">Product Alt</a>
                        </li>
                        <li>
                          <a href="">Product Sidebar</a>
                        </li>
                      </ul>
                      <!-- .menu / end -->
                    </div>
                  </li>
                  <li>
                    <a href="">Cart</a>
                  </li>
                  <li>
                    <a href="">Checkout</a>
                  </li>
                  <li>
                    <a href="">Wishlist</a>
                  </li>
                  <li>
                    <a href="">Compare</a>
                  </li>
                  <li>
                    <a href="">My Account</a>
                  </li>
                  <li>
                    <a href="">Track Order</a>
                  </li>
                </ul>
                <!-- .menu / end -->
              </div>
            </li>
            <li class="nav-links__item nav-links__item--with-submenu">
              <a href="">
                <span
                  >Blog
                  <svg class="nav-links__arrow" width="9px" height="6px">
                    <use
                      xlink:href="assets/img/sprite.svg#arrow-rounded-down-9x6"
                    />
                  </svg>
                </span>
              </a>
              <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                  <li>
                    <a href="">Blog Classic</a>
                  </li>
                  <li>
                    <a href="">Blog Grid</a>
                  </li>
                  <li>
                    <a href="">Blog List</a>
                  </li>
                  <li>
                    <a href="">Blog Left Sidebar</a>
                  </li>
                  <li>
                    <a href="">Post Page</a>
                  </li>
                  <li>
                    <a href="">Post Without Sidebar</a>
                  </li>
                </ul>
                <!-- .menu / end -->
              </div>
            </li>
            <li class="nav-links__item nav-links__item--with-submenu">
              <a href="#">
                <span
                  >Pages
                  <svg class="nav-links__arrow" width="9px" height="6px">
                    <use
                      xlink:href="assets/img/sprite.svg#arrow-rounded-down-9x6"
                    />
                  </svg>
                </span>
              </a>
              <div class="nav-links__menu">
                <!-- .menu -->
                <ul class="menu menu--layout--classic">
                  <li>
                    <a href="">About Us</a>
                  </li>
                  <li>
                    <a href="">Contact Us</a>
                  </li>
                  <li>
                    <a href="">Contact Us Alt</a>
                  </li>
                  <li>
                    <a href="">404</a>
                  </li>
                  <li>
                    <a href="">Terms And Conditions</a>
                  </li>
                  <li>
                    <a href="">FAQ</a>
                  </li>
                  <li>
                    <a href="">Components</a>
                  </li>
                  <li>
                    <a href="">Typography</a>
                  </li>
                </ul>
                <!-- .menu / end -->
              </div>
            </li>
            <li class="nav-links__item">
              <a href="">
                <span>Contact Us</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- .nav-links / end -->
        <div class="topbar__spring"></div>
        <div class="nav-panel__indicators">
          <a
            class="indicator__button ng-star-inserted"
            routerLink="products/favourite-products"
          >
            <span class="indicator__area ng-star-inserted">
              <app-icon size="20" class="ng-star-inserted"
                ><svg width="20px" height="20px">
                  <use xlink:href="assets/img/sprite.svg#heart-20"></use></svg
              ></app-icon>
              <span class="indicator__value ng-star-inserted">{{
                productService.getLocalFavouriteProducts().length
              }}</span>
            </span>
          </a>
        </div>
        <div class="nav-panel__indicators">
          <a
            class="indicator__button ng-star-inserted"
            routerLink="products/cart-items"
          >
            <span class="indicator__area ng-star-inserted">
              <app-icon size="20" class="ng-star-inserted"
                ><svg width="20px" height="20px">
                  <use xlink:href="assets/img/sprite.svg#cart-20"></use></svg
              ></app-icon>
              <span class="indicator__value ng-star-inserted">{{
                productService.getLocalCartProducts().length
              }}</span>
            </span>
          </a>
        </div>
        <div class="nav-panel__indicators">
          <a class="indicator__button ng-star-inserted">
            <span class="indicator__area ng-star-inserted">
              <app-icon size="20" class="ng-star-inserted"
                ><svg width="20px" height="20px">
                  <use xlink:href="assets/img/sprite.svg#person-20"></use></svg
              ></app-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
