.footer-contacts__title {
  margin-bottom: 25px;
  color: #000 !important;
}

h5,
h6 {
  font-weight: 700;
}

h5 {
  font-size: 20px;
}

.footer-contacts__text {
  padding-right: 20px;
  color: #3d464d;
}

.footer-contacts__text {
  font-size: 15px;
  line-height: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts__contacts {
  font-size: 15px;
  line-height: 20px;
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
}

.footer-contacts__icon {
  margin-right: 2px;
}

.footer-contacts__icon {
  display: inline-block;
  text-align: center;
  width: 22px;
}

.footer-contacts__contacts {
  color: #3d464d;
}
