<div class="site-footer__widget footer-contacts">
    <h5 class="footer-contacts__title">Contact Us</h5>
    <div _ngcontent-serverapp-c70="" class="footer-contacts__text"> test description
    </div>
    <ul _ngcontent-serverapp-c70="" class="footer-contacts__contacts">
        <li _ngcontent-serverapp-c70=""><i _ngcontent-serverapp-c70=""
                class="footer-contacts__icon fas fa-globe-americas"></i> 715 Fake Street, New York 10021 USA</li>
        <li _ngcontent-serverapp-c70=""><i _ngcontent-serverapp-c70="" class="footer-contacts__icon far fa-envelope"></i>
            test@example.com</li>
        <li _ngcontent-serverapp-c70=""><i _ngcontent-serverapp-c70="" class="footer-contacts__icon fas fa-mobile-alt"></i>
            (800) 060-0730, (800) 060-0730</li>
        <li _ngcontent-serverapp-c70=""><i _ngcontent-serverapp-c70="" class="footer-contacts__icon fa fa-clock"></i>
            Mon-Sat 10:00pm - 7:00pm</li>
    </ul>
</div>