.footer-links__title {
  margin-bottom: 22px;
  color: #000 !important;
}

h5,
h6 {
  font-weight: 700;
}

h5 {
  font-size: 20px;
}

.footer-links__list {
  font-size: 15px;
  line-height: 28px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links__item a {
  color: #3d464d !important;
}
