<div _ngcontent-serverapp-c71="" class="site-footer__widget footer-links">
    <h5 _ngcontent-serverapp-c71="" class="footer-links__title">My Account</h5>
    <ul _ngcontent-serverapp-c71="" class="footer-links__list">
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Store Location</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Order History</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/shop/wishlist">Wish List</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Newsletter</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Specials</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Gift Cards</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Affiliate</a></li>
        <!---->
    </ul>
</div>