<!--Footer-->
<footer class="page-footer center-on-small-only mt-3 site__footer">

  <div class="site-footer">
      <div class="container">
        <div class="site-footer__widgets">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <app-appfootercontacts></app-appfootercontacts>
            </div>
            <div class="col-6 col-md-3 col-lg-2">
              <app-footer-links></app-footer-links>
            </div>
            <div class="col-6 col-md-3 col-lg-2">
              <app-footer-accounts></app-footer-accounts>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
              <app-footer-newsletter></app-footer-newsletter>
            </div>
          </div>
        </div>
      </div>
  </div>

  