<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="javascript:;;">Shopify</a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#basicExampleNav"
    aria-controls="basicExampleNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:;;" [routerLink]="['/']"
          >{{ this.translate.data["HOME"] | translate }}
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="jaascript:;;"
          [routerLink]="['/products/all-products']"
          >{{ this.translate.data["PRODUCTS"] | translate }}</a
        >
      </li>      
    </ul>
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <div>
          <a
            class="nav-link"
            href="javascript:;;"
            [routerLink]="['/products/favourite-products']"
          >
            <i class="fa fa-heart" style="color: #fff;">
              <span class="mt-2">
                {{ productService.getLocalFavouriteProducts().length }}</span
              >
            </i>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <a
            class="nav-link"
            href="javascript:;;"
            [routerLink]="['/products/cart-items']"
          >
            <i class="fa fa-shopping-cart" style="color: #fff;">
              <span class="mt-2">
                {{ productService.getLocalCartProducts().length }}</span
              >
            </i>
          </a>
        </div>
      </li> 
      
      <li class="nav-item">
        <div>
          <button type="button">Login</button>
        </div>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

<!-- Theme Template -->
<ng-template #themeTemplate let-item="item">
  <div
    class="col-sm hover-effect"
    data-toggle="tooltip"
    data-placement="bottom"
    [title]="item.title"
    style="padding: 0;"
  >
    <div class="color-container">
      <div
        class="colorDiv {{ item.color }}"
        (click)="updateTheme(item.id)"
      ></div>
    </div>
  </div>
</ng-template>
