<div class="widget-filters widget widget-filters--offcanvas--mobile">
  <h4 class="widget-filters__title widget__title">Filters</h4>
  <div class="widget-filters__list">
    <div class="widget-filters__item">
      <div class="filter filter--opened">
        <button class="filter__title" type="button">
          Categories
          <svg width="12px" height="7px">
            <use xlink:href="assets/img/sprite.svg#arrow-rounded-down-12x7"></use>
          </svg>
        </button>
        <div class="filter__body">
          <div class="filter__container">
            <div class="filter-categories filter-categories--root">
              <ul class="filter-categories__list">
                <li class="filter-categories__item filter-categories__item--child">
                  <a>Instruments</a>
                  <div class="filter-categories__counter ng-star-inserted">
                    272
                  </div>
                </li>
                <li class="filter-categories__item filter-categories__item--child">
                  <a>Electronics</a>
                  <div class="filter-categories__counter ng-star-inserted">
                    54
                  </div>
                </li>
                <li class="filter-categories__item filter-categories__item--child">
                  <a>Computers</a>
                  <div class="filter-categories__counter ng-star-inserted">
                    421
                  </div>
                </li>
                <li class="filter-categories__item filter-categories__item--child">
                  <a>Automotive</a>
                  <div class="filter-categories__counter ng-star-inserted">
                    421
                  </div>
                </li>
                <li class="filter-categories__item filter-categories__item--child">
                  <a>Furniture & Appliances</a>
                  <div class="filter-categories__counter ng-star-inserted">
                    421
                  </div>
                </li>
                <li class="filter-categories__item filter-categories__item--child">
                  <a>Music & Books</a>
                  <div class="filter-categories__counter ng-star-inserted">
                    421
                  </div>
                </li>
                <li class="filter-categories__item filter-categories__item--child">
                  <a>Health & Beauty</a>
                  <div class="filter-categories__counter ng-star-inserted">
                    421
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-filters__item">
      <div class="filter filter--opened">
        <button type="button" class="filter__title">
          Price
          <svg width="12px" height="7px">
            <use xlink:href="assets/img/sprite.svg#arrow-rounded-down-12x7"></use>
          </svg>
        </button>
        <div class="filter__body">
          <div class="filter__container">
            <div class="filter-price">
              <div class="filter-price__slider">
                <div class="ngx-slider-custom" style="padding-top: 20px">
                  <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                </div>
              </div>
              <div class="filter-price__title">
                <span class="filter-price__min-value">$0</span>
                -
                <span class="filter-price__max-value">$3,200</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-filters__item">
      <div class="filter filter--opened">
        <button type="button" class="filter__title">
          Brand
          <svg width="12px" height="7px">
            <use xlink:href="assets/img/sprite.svg#arrow-rounded-down-12x7"></use>
          </svg>
        </button>
        <div class="filter__body">
          <div class="filter__container">
            <div class="filter-list">
              <div class="filter-list__list">
                <label class="filter-list__item">
                  <span class="filter-list__input input-check">
                    <span class="input-check__body">
                      <input type="checkbox" class="input-check__input" value="brandix" name="filter_brand" />
                      <span class="input-check__box"></span>
                      <svg width="9px" height="7px">
                        <use xlink:href="assets/img/sprite.svg#check-9x7"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="filter-list__title">Brandix</span>
                  <span class="filter-list__counter">5</span>
                </label>
                <label class="filter-list__item">
                  <span class="filter-list__input input-check">
                    <span class="input-check__body">
                      <input type="checkbox" class="input-check__input" value="brandix" name="filter_brand" />
                      <span class="input-check__box"></span>
                      <svg width="9px" height="7px">
                        <use xlink:href="assets/img/sprite.svg#check-9x7"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="filter-list__title">Zosch</span>
                  <span class="filter-list__counter">1</span>
                </label>
                <label class="filter-list__item">
                  <span class="filter-list__input input-check">
                    <span class="input-check__body">
                      <input type="checkbox" class="input-check__input" value="brandix" name="filter_brand" />
                      <span class="input-check__box"></span>
                      <svg width="9px" height="7px">
                        <use xlink:href="assets/img/sprite.svg#check-9x7"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="filter-list__title">Wakita</span>
                  <span class="filter-list__counter">2</span>
                </label>
                <label class="filter-list__item">
                  <span class="filter-list__input input-check">
                    <span class="input-check__body">
                      <input type="checkbox" class="input-check__input" value="brandix" name="filter_brand" />
                      <span class="input-check__box"></span>
                      <svg width="9px" height="7px">
                        <use xlink:href="assets/img/sprite.svg#check-9x7"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="filter-list__title">WeVALT</span>
                  <span class="filter-list__counter">1</span>
                </label>
                <label class="filter-list__item">
                  <span class="filter-list__input input-check">
                    <span class="input-check__body">
                      <input type="checkbox" class="input-check__input" value="brandix" name="filter_brand" />
                      <span class="input-check__box"></span>
                      <svg width="9px" height="7px">
                        <use xlink:href="assets/img/sprite.svg#check-9x7"></use>
                      </svg>
                    </span>
                  </span>
                  <span class="filter-list__title">Hammer</span>
                  <span class="filter-list__counter">4</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-filters__item">
      <div class="filter filter--opened">
        <button type="button" class="filter__title">
          With Discount
          <svg width="12px" height="7px">
            <use xlink:href="assets/img/sprite.svg#arrow-rounded-down-12x7"></use>
          </svg>
        </button>
        <div class="filter__body">
          <div class="filter__container">
            <div class="filter-list">
              <div class="filter-list__list">
                <label class="filter-list__item">
                  <span class="filter-list__input input-radio">
                    <span class="input-radio__body">
                      <input class="input-radio__input" />
                      <span class="input-radio__circle"></span>
                    </span>
                  </span>
                  <span class="filter-list__title">Any</span>
                  <span class="filter-list__counter">16</span>
                </label>
                <label class="filter-list__item">
                  <span class="filter-list__input input-radio">
                    <span class="input-radio__body">
                      <input class="input-radio__input" />
                      <span class="input-radio__circle"></span>
                    </span>
                  </span>
                  <span class="filter-list__title">No</span>
                  <span class="filter-list__counter">15</span>
                </label>
                <label class="filter-list__item">
                  <span class="filter-list__input input-radio">
                    <span class="input-radio__body">
                      <input class="input-radio__input" />
                      <span class="input-radio__circle"></span>
                    </span>
                  </span>
                  <span class="filter-list__title">Yes</span>
                  <span class="filter-list__counter">1</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-filters__actions d-flex">
    <button class="btn btn-primary btn-sm">Reset</button>
  </div>
</div>