<div _ngcontent-serverapp-c71="" class="site-footer__widget footer-links">
    <h5 _ngcontent-serverapp-c71="" class="footer-links__title">Information</h5>
    <ul _ngcontent-serverapp-c71="" class="footer-links__list">
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/site/about-us">About Us</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/site/terms">Delivery Information</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/site/terms">Privacy Policy</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Brands</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/site/contact-us">Contact Us</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Returns</a></li>
        <li _ngcontent-serverapp-c71="" class="footer-links__item ng-star-inserted"><a _ngcontent-serverapp-c71=""
                class="footer-links__link" href="/themes/red-ltr/">Site Map</a></li>
        <!---->
    </ul>
</div>